{{!--
  Built-in, language-aware navigation items.

  All nav links are hard-coded here (Ghost admin navigation is ignored because
  it cannot vary by language). Each link uses data-lang-href for client-side
  URL rewriting by lang-switcher.js and data-i18n for client-side translation.

    - Home  : data-lang-href="" -> /<code>/
    - Micro : data-lang-href="micro/" -> /<code>/micro/
--}}
<ul class="site-nav-list">
    <li class="site-nav-item">
        <a class="site-nav-link" href="{{@site.url}}" data-lang-href="" data-nav-section="home" data-i18n="Home">{{t "Home"}}</a>
    </li>
    <li class="site-nav-item">
        <a class="site-nav-link" href="{{@site.url}}" data-lang-href="micro/" data-nav-section="micro" data-i18n="Micro">{{t "Micro"}}</a>
    </li>
</ul>
